sudo: required

language: generic

services:
  - docker

before_install:
  - docker build -t cosmos91/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true cosmos91/react-test npm test

after_success:
  - docker build -t cosmos91/multi-client ./client
  - docker build -t cosmos91/multi-nginx ./nginx
  - docker build -t cosmos91/multi-server ./server
  - docker build -t cosmos91/multi-worker ./worker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push cosmos91/multi-client
  - docker push cosmos91/multi-nginx
  - docker push cosmos91/multi-server
  - docker push cosmos91/multi-worker